<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net461" />
  <package id="Microsoft.Azure.CognitiveServices.Language.SpellCheck" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.11" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.12" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="Syn.WordNet" version="1.0.5" targetFramework="net461" />
</packages>